/* Google font link here  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Raleway", sans-serif;
}

.font-inter{
    font-family: "Inter", sans-serif;
}

/* Banner Section css start here  */

.banner-main{
    background: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    height: 78vh;
    background-repeat: no-repeat;
}

/* Banner Section css End here  */

/* Seat section Start Here  */

.seat-option p, .seat-option-serial p{
    color: rgba(3, 7, 18, 0.50);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    height: auto;
    padding: 20px 0px;
    border-radius: 12px;
    background: #F7F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.seat-option-serial p{
    background: none !important;
    border-radius: none !important;
    cursor: default;
}

.seat-click{
    background-color: #1DD100 !important;
    color: #ffffff !important;
}

.apply-btn-dis{
    background-color: #ACADB1 !important;
}

.cp-sta-col{
    color: #1DD100;
}

.cp-sta-wrong{
    color: red;
}



/* Seat section End Here  */